env {
  # You can set engine configuration here
  execution.parallelism = 1
  job.mode = "STREAMING"
  execution.checkpoint.interval = 5000
}

source {
  MongoDB-CDC {
    hosts = "127.0.0.1:37017"
    database = ["mgdb"]
    collection = ["mgdb.orders"]
    username = fjp
    password = fjp

    schema = {
      fields {
        "order_id": int,
        "order_date": date,
        "customer_id": int,
        "price": "decimal(38, 18)",
        "product": "map<string, string>",
        "order_status": boolean
      }
    }
  }
}

# Console printing of the read Mongodb data
sink {
    Elasticsearch {
        hosts = ["localhost:9200"]
        index = "seatunnel-mongo"

        # cdc required options
        # primary_keys = ["order_id", "product_id"]
        # key_delimiter="_"
        primary_keys = ["order_id"]
        source_table_name=["fake"]
    }
}

