env {
  # You can set engine configuration here
  execution.parallelism = 1
  job.mode = "STREAMING"
  job.name = "mysql-cdc-2kafka-2"
  execution.checkpoint.interval = 5000
}

source {
  MySQL-CDC {
    result_table_name = "fake"
    parallelism = 1
    server-id = 5656
    username = "root"
    password = "123456"
    table-names = ["mydb.orders"]
    base-url = "jdbc:mysql://127.0.0.1:33065/mydb?serverTimezone=GMT%2b8&useSSL=false"
    startup.mode=INITIAL
    catalog {
      factory = MySQL
    }
    # compatible_debezium_json options 这个有问题
    # format = compatible_debezium_json

    debezium = {
      # include schema into kafka message
      key.converter.schemas.enable = false
      value.converter.schemas.enable = false
      # include ddl
      include.schema.changes = true
      # topic prefix
      database.server.name =  "mysql_cdc_1"
    }
  }
}

transform {}

sink {
  kafka {
      source_table_name = ["fake"]
      topic = "test_topic_seatunnel"
      bootstrap.servers = "localhost:9092"
      format = debezium_json
      debezium-json.ignore-parse-errors = true
      kafka.request.timeout.ms = 60000
      semantics = NON
      kafka.config = {
        acks = "all"
        request.timeout.ms = 60000
        buffer.memory = 33554432
      }
  }
}


# https://seatunnel.apache.org/docs/2.3.3/connector-v2/formats/debezium-json/