env {
  # You can set engine configuration here
  execution.parallelism = 1
  job.mode = "STREAMING"
  job.name = "mysql-cdc-2es"
  execution.checkpoint.interval = 5000
}

source {
  MySQL-CDC {
    result_table_name = "fake"
    parallelism = 1
    server-id = 5656
    username = "root"
    password = "123456"
    table-names = ["mydb.orders"]
    base-url = "jdbc:mysql://127.0.0.1:33065/mydb?serverTimezone=GMT%2b8&useSSL=false"
    startup.mode=INITIAL
  }
}

transform {
    # If you would like to get more information about how to configure seatunnel and see full list of transform plugins,
    # please go to https://seatunnel.apache.org/docs/transform-v2/sql
}

sink {
    Elasticsearch {
        hosts = ["localhost:9200"]
        index = "seatunnel-mysql"

        # cdc required options
        # primary_keys = ["order_id", "product_id"]
        # key_delimiter="_"
        primary_keys = ["order_id"]
        source_table_name=["fake"]
    }
}