env {
  # You can set engine configuration here
  execution.parallelism = 1
  job.mode = "STREAMING"
  job.name = "mysql-cdc-2es"
  execution.checkpoint.interval = 5000
}

source {
  MySQL-CDC {
    result_table_name = "fake"
    parallelism = 1
    server-id = 5656
    username = "root"
    password = "123456"
    table-names = ["mydb.orders"]
    base-url = "jdbc:mysql://127.0.0.1:33065/mydb?serverTimezone=GMT%2b8&useSSL=false"
    startup.mode=INITIAL
    catalog {
      factory = MySQL
    }
  }
}

transform {
  # If you would like to get more information about how to configure seatunnel and see full list of transform plugins,
  # please go to https://seatunnel.apache.org/docs/transform-v2/sql
}

sink {
  jdbc {
    source_table_name = "fake"
    url = "jdbc:mysql://127.0.0.1:33065/adw_mock?serverTimezone=GMT%2b8&useSSL=false"
    driver = "com.mysql.cj.jdbc.Driver"
    user = "root"
    password = "123456"

    generate_sink_sql = true
    # You need to configure both database and table
    database = adw_mock
    table = mysql_cdc_e2e_sink_table
    primary_keys = ["order_id"]
  }
}