env {
  # You can set engine configuration here
  execution.parallelism = 1
  job.mode = "STREAMING"
  job.name = "mysql-cdc-2es"
  execution.checkpoint.interval = 5000
}

source {
  MySQL-CDC {
    result_table_name = "fake"
    parallelism = 1
    server-id = 5656
    username = "root"
    password = "123456"
    table-names = ["mydb.orders"]
    base-url = "jdbc:mysql://127.0.0.1:33065/mydb?serverTimezone=GMT%2b8&useSSL=false"
    startup.mode=INITIAL
    catalog {
      factory = MySQL
    }
    debezium = {
      # include schema into kafka message
      key.converter.schemas.enable = false
      value.converter.schemas.enable = false
      # include ddl
      include.schema.changes = true
    }
  }
}

transform {
  Filter {
    source_table_name = "fake"
    result_table_name = "fake1"
    fields = [product_id, price] # 仅保留 product_id 和 price
  }
}

sink {
    Console {source_table_name=["fake1"]}
}